*{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: darkslateblue;
    color: white;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header li{
    padding: 20px;
    display: inline;
    
}
.header a{
  text-decoration: none;
   color: white;
   flex-direction: row;

}


.container1{
     background-color: greenyellow;
     padding: 100px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.container2{
     background-color: darkgrey;
     padding: 50px;
     display: flex;
     justify-content: center;
     gap: 20px;
}
.container3{
    background-color:white;
     padding: 50px;
     display: flex;
     justify-content: center;
     gap: 20px;

}
.cards{
    background-color: white;
    border: 1px solid black;
    padding: 10px;


}

.cards1{
    background-color: green;
    border: 1px solid black;
    padding: 10px;
}

.footer{
     background-color: darkslateblue;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top:80px;
}


